{% extends "base.html" %}
{% block head %}
    {{super()}}
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "efe1215f-7463-48cc-9d48-f78c0380a25a", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

    {% if text %}
        <meta property="og:image" content="/render?text={{text|urlencode}}"/>
        <meta property="og:title" content="{{text}}" />
    {% else %}
        <meta property="og:image" content="/render?text=ham+mer+time"/>
        <meta property="og:title" content="ham mer time" />
    {% endif %}
{% endblock %}
{% block content %}
<div id="header">
    <div id="header-content">
        <a href="/"><h1>Konservativ Plakat Generator</h1></a>
        <form action="" method="GET">
            <div id="field">
                <span>STOP </span><input name="text" placeholder="NAZI ISLAM ISME" value="{{text}}" >
            </div>
            <button>LAV PLAKAT</button>
        </form>
    </div>
</div>
<div id="share-buttons">
    <span class='st_fblike_hcount' displayText='Facebook Like'></span>
    <span class='st_facebook_hcount' displayText='Facebook'></span>
    <span class='st_twitter_hcount' displayText='Tweet'></span>
    <span class='st_reddit_hcount' displayText='Reddit'></span>
    <span class='st_googleplus_hcount' displayText='Google +'></span>
    <span class='st_plusone_hcount' displayText='Google +1'></span>
    <span class='st__hcount' displayText=''></span>
</div>
<div id="image-placeholder">
    {% if text %}
        <img src="/render?text={{text|urlencode}}" alt="Konservativ - stop {{text}}" />
    {% else %}
        <img src="/render?text=ham+mer+time" alt="Konservativ - stop ham mer time" />
    {% endif %}
</div>
{% endblock %}