{% extends "base.html" %}
{% block pretitle %}{% if text %}{{text}} - {% endif %}{% endblock %}
{% block head %}
    {{super()}}
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "efe1215f-7463-48cc-9d48-f78c0380a25a", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

    {% if text %}
        <meta property="og:image" content="http://stopc.lzy.dk/render?text={{text|urlencode}}"/>
        <meta property="og:title" content="stop {{text}}" />
    {% else %}
        <meta property="og:image" content="http://stopc.lzy.dk/hammertime.png"/>
        <meta property="og:title" content="stop ham mer time" />
    {% endif %}
{% endblock %}
{% block content %}
<div id="header">
    <div id="header-content">
        <a href="/"><h1>CSigerStop.dk</h1></a>
        <form action="" method="GET">
            <span>STOP</span><input autofocus name="text" size=30 placeholder="nazi islam isme" value="{{text|lower}}" ><button>LAV PLAKAT</button>
        </form>
        <div class="clear"></div>
    </div>
</div>
<div id="share-buttons">
    <span class='st_facebook_hcount' displayText='Facebook'></span>
    <span class='st_twitter_hcount' displayText='Tweet'></span>
    <span class='st_reddit_hcount' displayText='Reddit'></span>
    <span class='st_googleplus_hcount' displayText='Google +'></span>
    <span class='st__hcount' displayText=''></span>
</div>
<div id="image-placeholder">
    {% if text %}
        <img src="/render?text={{text|urlencode}}" alt="Konservativ - stop {{text}}" />
        <p class="dim">Du kan gemme billedet ved at højreklikke og vælge "gem billede som".</p>
    {% else %}
        <img src="/hammertime.png" alt="Konservativ - stop ham mer time" />
    {% endif %}
</div>
<!--
<div id="other-posters">
    <hr>
    <b>Andre plakater</b>
</div>
-->
<div id="about">
    <hr>
    <h2>Om Den Konservative Plakat Generator</h2>
    <p>Med den Konservative Plakat Generator kan du selv bygge en "stop"-kampagneplakat.<br>
    - Hvad der er på plakaten, er helt op til dig.
    </p>
    <p>Siden er drevet uafhængigt af det Konservative Folkeparti.<br>
    Spørgsmål mv. kan rettes til <a href="mailto:csigerstop@gmail.com">csigerstop@gmail.com</a></p>
</div>
{% endblock %}